@model PersonalFinalProject.Models.ReservationViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Reservation</h1>

<form asp-action="Create">
    <div style="border:1px solid red; padding:10px; margin:10px">
    <div>
        <label>First Name: </label>
        <input asp-for="FirstName" type="text" required />
    </div>
    <div>
        <label>Last Name: </label>
        <input asp-for="LastName" type="text" required />
    </div>
    <div>
        <label>Phone Number: </label>
        <input asp-for="PhoneNumber" type="tel" placeholder="0123 456 789"  required />
    </div>
    <div>
        <label>Email: </label>
        <input asp-for="Email" type="email" required />
    </div>
    <div>
        <label>Start Date & Time:</label>
        <input asp-for="Start" type="datetime-local" required />
    </div>
    <div>
        <label>Duration: </label>
        <input asp-for="Duration" type="number" min="1" max="24" required placeholder="0" />
    </div>
    <div>
        <label>Sittings (Manager View Only):</label>
        <select asp-for="Sitting" id="sittings">
            <option value=0>No special event</option>
            <option value=1>Breakfast</option>
            <option value=2>Lunch</option>
            <option value=3>Dinner</option>
            <option value=4>Whole Day</option>
        </select>
    </div>
    <div>
        <label>Requested Area (Will only be allocated if there are available tables on the area):</label>
        <select asp-for="Area" id="areas">
            <option value=0>Any</option>
            <option value=1>Main</option>
            <option value=2>Outside</option>
            <option value=3>Balcony</option>
        </select>
    </div>
    <div>
        <label>Guest Number: </label>
        <input asp-for="GuestNumber" type="number"  required />
    </div>
    <div>
        <label>Special Request (optional): </label>
        <input asp-for="Notes" type="text"/>
    </div>


    </div>
    <input type="submit" value="Save"/>
</form>
