@*@using PersonalFinalProject.Controllers;
@using PersonalFinalProject.Data;
@model IEnumerable<ReservationController>
@model Reservation*@
@model PersonalFinalProject.Models.ReservationVM



@{
    ViewData["Title"] = "Reservation";
}

<h1>Reservation</h1>

<h3>Make a Reservation </h3>

<form asp-action="Reservation">
    <div style="border:1px solid red; padding:10px; margin:10px">
    <div>
        <label>Date: </label>
        <input asp-for="Date" type="date"/>
    </div>
     <div>
        <label>Time: </label>
        <input asp-for="Time" type="time" />
    </div>
    <div>
        <label>GuestNum</label>
        <input asp-for="GuestNum"  />

    </div>
    </div>
    @*<input type="submit" value="Save"/>*@
    <a href="~/Reservation/Sittings" >Submit</a>
</form>



